# Transform county data on professions into county data on skill levels

1. Load data and set it up
2. Prepare dictionary and helper function
3. Transform data and save it

# 1. Load Data

In [70]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [71]:
#libraries
import re
import pandas as pd
import numpy as np
from scipy.stats import chisquare
import seaborn as sns
import matplotlib.pyplot as plt

**Set up File Paths**
1. Loading
2. Saving

**Loading**

In [72]:
# Set up paths (load files from Classification folder)
classification_path = r"C:\Users\soere\OneDrive\Desktop\Python MA\0.1 Classification Data\Different Skills"

# Set up path to control variables 
path_control_df = r"C:\Users\soere\OneDrive\Desktop\Python MA\0. Pretransformed Data"

# Set up path to ifo (iPEHD) files
ifo_path = r"C:\Users\soere\OneDrive\Desktop\Python MA\0.3 ifo Data"

# Load data
occupation_detailed_df = pd.read_stata(f"{classification_path}\occupation_detailed.dta")
control_df = pd.read_stata(f"{path_control_df}\control.dta")

**Saving**

In [73]:
saving_path = r"C:\Users\soere\OneDrive\Desktop\Python MA\2.2 Saving the Dependent Variables"

#### Quick Transformation and Merger

In [74]:
# Make a new column where we add up male and female
occupation_detailed_df.loc[:, "d_Hauptberuf"] = occupation_detailed_df["d_Hauptberuf_m"] + occupation_detailed_df["d_Hauptberuf_w"]

In [75]:
# Since we only have data on the Regierungsbezirk level we need to find the id

# Merge the DataFrames on the 'id_inequality' column
occupation_detailed_df = pd.merge(occupation_detailed_df, control_df[["id_inequality", "rb_id"]], on="id_inequality", how="left")

# Give new columns for skills
occupation_detailed_df["high"] = ""
occupation_detailed_df["medium"] = ""
occupation_detailed_df["low"] = ""
occupation_detailed_df["unskilled"] = ""
occupation_detailed_df["intermediate"] = 0

# Show the first few rows of the merged DataFrame to confirm the inclusion of 'rb_id'
occupation_detailed_df.head(-5)

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
0,1.0,A,1,6541.0,5786.0,12327.0,17.0,,,,,0
1,1.0,A,2,38.0,10.0,48.0,17.0,,,,,0
2,1.0,A,4,69.0,100.0,169.0,17.0,,,,,0
3,1.0,A,5,397.0,110.0,507.0,17.0,,,,,0
4,1.0,A,6,187.0,36.0,223.0,17.0,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80879,702.0,E,1,4.0,0.0,4.0,31.0,,,,,0
80880,702.0,E,2,41.0,3.0,44.0,31.0,,,,,0
80881,702.0,E,3,34.0,0.0,34.0,31.0,,,,,0
80882,702.0,E,4,40.0,8.0,48.0,31.0,,,,,0
80883,702.0,E,5,6.0,16.0,22.0,31.0,,,,,0

In [76]:
control_df

,id_inequality,rb_id,rb_name,province_id,s_industry,s_prot,s_german,longitud,latitud,slope_km,soil_suitability,mean_temp,mean_preci,dist_100km,log_distance_carbon_c
0,1.0,17.0,Koenigsberg,1.0,18.515817,93.379268,54.543988,21.261999,55.648117,0.039,3.466667,7.255,64.419,0.330,4.272285
1,2.0,17.0,Koenigsberg,1.0,20.088563,96.752059,100.585163,20.249264,54.843463,0.041,3.272727,7.703,63.562,0.101,5.116106
2,4.0,17.0,Koenigsberg,1.0,35.498406,91.659959,76.561623,20.503550,54.706534,0.041,2.000000,7.983,66.168,0.040,5.181000
3,5.0,17.0,Koenigsberg,1.0,15.060419,97.782661,137.406224,20.646094,54.737281,0.039,2.052632,7.516,65.371,0.009,5.153863
4,6.0,17.0,Koenigsberg,1.0,12.007056,98.668155,89.333490,21.267903,54.855057,0.038,2.050000,7.287,61.743,0.119,5.070227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,698.0,1.0,Aachen,12.0,15.278715,1.613553,64.254487,6.167253,50.364714,0.143,2.785714,7.611,93.091,0.724,3.452736
571,699.0,31.0,Sigmaringen,12.0,19.492555,5.190840,93.931298,9.235305,48.006617,0.165,1.375000,7.392,73.282,0.250,4.136785
572,700.0,31.0,Sigmaringen,12.0,23.974037,2.518404,99.023634,9.198332,48.235600,0.186,1.000000,6.673,78.484,0.419,4.088633
573,701.0,31.0,Sigmaringen,12.0,30.325834,6.910838,88.408480,9.001089,48.317343,0.182,1.000000,7.312,74.583,0.376,3.776254
574,702.0,31.0,Sigmaringen,12.0,14.045974,3.843879,96.916448,8.732342,48.378794,0.143,2.500000,8.156,72.044,0.464,3.160472

In [77]:
rb_2_pro = control_df.groupby("province_id")["rb_id"].apply(lambda x: list(set(x))).reset_index()
rb_2_pro

    province_id                                rb_id
0           1.0                         [17.0, 11.0]
1           2.0                          [22.0, 7.0]
2           3.0                    [10.0, 4.0, 29.0]
3           4.0                   [33.0, 18.0, 34.0]
4           5.0                          [28.0, 6.0]
5           6.0                    [26.0, 19.0, 5.0]
6           7.0                    [9.0, 21.0, 23.0]
7           8.0                               [30.0]
8           9.0  [32.0, 3.0, 12.0, 13.0, 20.0, 27.0]
9          10.0                    [24.0, 25.0, 2.0]
10         11.0                         [36.0, 14.0]
11         12.0   [1.0, 35.0, 8.0, 15.0, 16.0, 31.0]

["Allenstein", "Neidenburg", "Ortelsburg", "Osterode Ostpreussen", "Roessel", 
              "Sensburg", "Johannisburg", "Loetzen", "Lyck"]

In [78]:
# Give counties of newly (in 1907) formed Allenstein its own rb_id and rb_name

counties_Allenstein = [15, 16, 19, 20, 21, 40, 41, 42, 43]
occupation_detailed_df.loc[occupation_detailed_df["id_inequality"].isin(counties_Allenstein) , "rb_id"] = 37

In [79]:
occupation_detailed_df.dtypes, control_df.dtypes

(id_inequality       float64
 i_Grossbuchstabe     object
 i_Ziffer              int16
 d_Hauptberuf_m      float64
 d_Hauptberuf_w      float64
 d_Hauptberuf        float64
 rb_id               float64
 high                 object
 medium               object
 low                  object
 unskilled            object
 intermediate          int64
 dtype: object,
 id_inequality            float64
 rb_id                    float64
 rb_name                   object
 province_id              float64
 s_industry               float64
 s_prot                   float64
 s_german                 float64
 longitud                 float64
 latitud                  float64
 slope_km                 float64
 soil_suitability         float64
 mean_temp                float64
 mean_preci               float64
 dist_100km               float64
 log_distance_carbon_c    float64
 dtype: object)

# Prepare dictionary

In [80]:
# Read the HISCLASS.do file and extract lines
with open(f"{classification_path}\HISCLASS.do") as file:
    lines = file.readlines()

# Make a dictionary
# Regular expression to capture HISCO code and its class
pattern = r"\((\d{5})=(\d+)\)"

# Extract all the mappings from the lines
mappings = {}
for line in lines:
    matches = re.findall(pattern, line)
    for hisco_code, hisco_class in matches:
        mappings[hisco_code] = int(hisco_class)

# Convert all values in the mappings dictionary to strings
mappings = {key: str(value) for key, value in mappings.items()}

mappings

{'99997': '1',
 '99998': '1',
 '01110': '2',
 '01120': '2',
 '01130': '2',
 '01140': '2',
 '01150': '2',
 '01190': '2',
 '01210': '2',
 '01220': '2',
 '01230': '2',
 '01240': '2',
 '01250': '2',
 '01260': '2',
 '01270': '2',
 '01280': '2',
 '01290': '2',
 '01320': '2',
 '01330': '2',
 '01340': '2',
 '01350': '2',
 '01390': '2',
 '01400': '4',
 '01420': '4',
 '01430': '4',
 '01490': '4',
 '02000': '2',
 '02120': '2',
 '02130': '2',
 '02140': '2',
 '02210': '2',
 '02220': '2',
 '02230': '2',
 '02235': '2',
 '02240': '2',
 '02245': '2',
 '02250': '2',
 '02255': '2',
 '02260': '4',
 '02290': '2',
 '02305': '2',
 '02310': '2',
 '02320': '2',
 '02330': '2',
 '02340': '2',
 '02390': '2',
 '02410': '2',
 '02420': '2',
 '02430': '2',
 '02440': '2',
 '02450': '2',
 '02460': '2',
 '02470': '2',
 '02480': '2',
 '02485': '2',
 '02490': '2',
 '02510': '2',
 '02520': '2',
 '02590': '2',
 '02620': '2',
 '02630': '2',
 '02690': '2',
 '02710': '2',
 '02720': '2',
 '02730': '2',
 '02740': '2',
 '02790': '2',
 '02810': '2',
 '02820': '2',
 '02830': '2',
 '02890': '2',
 '02920': '2',
 '02930': '2',
 '02940': '2',
 '02950': '2',
 '02990': '2',
 '03010': '4',
 '03020': '4',
 '03030': '4',
 '03040': '4',
 '03050': '2',
 '03090': '4',
 '03110': '4',
 '03120': '4',
 '03130': '4',
 '03140': '4',
 '03150': '4',
 '03160': '4',
 '03170': '4',
 '03180': '4',
 '03190': '4',
 '03200': '4',
 '03310': '4',
 '03320': '4',
 '03330': '4',
 '03340': '4',
 '03390': '4',
 '03405': '4',
 '03410': '4',
 '03420': '4',
 '03430': '4',
 '03490': '4',
 '03510': '4',
 '03520': '4',
 '03530': '4',
 '03540': '4',
 '03550': '4',
 '03590': '4',
 '03610': '4',
 '03620': '4',
 '03690': '4',
 '03700': '4',
 '03720': '4',
 '03730': '4',
 '03790': '4',
 '03810': '4',
 '03820': '4',
 '03890': '4',
 '03920': '4',
 '03930': '4',
 '03990': '4',
 '04120': '2',
 '04125': '2',
 '04130': '2',
 '04140': '2',
 '04150': '2',
 '04160': '2',
 '04200': '3',
 '04215': '3',
 '04217': '3',
 '04220': '3',
 '04230': '3',
 '04240': '4',
 '04250': '3',
 '04290': '3',
 '04315': '1',
 '04320': '2',
 '04330': '2',
 '05110': '2',
 '05120': '2',
 '05130': '2',
 '05190': '2',
 '05220': '2',
 '05230': '2',
 '05240': '2',
 '05250': '2',
 '05260': '2',
 '05265': '2',
 '05270': '2',
 '05280': '2',
 '05290': '2',
 '05320': '2',
 '05330': '2',
 '05340': '2',
 '05350': '2',
 '05360': '4',
 '05390': '2',
 '05400': '4',
 '05420': '4',
 '05430': '4',
 '05490': '4',
 '06100': '2',
 '06105': '2',
 '06110': '2',
 '06120': '2',
 '06130': '2',
 '06140': '2',
 '06190': '2',
 '06210': '4',
 '06310': '2',
 '06320': '2',
 '06330': '2',
 '06420': '4',
 '06430': '4',
 '06440': '4',
 '06510': '2',
 '06520': '2',
 '06590': '2',
 '06610': '4',
 '06710': '2',
 '06810': '4',
 '06910': '4',
 '06920': '2',
 '06990': '2',
 '07110': '4',
 '07120': '4',
 '07130': '4',
 '07140': '4',
 '07190': '4',
 '07210': '9',
 '07310': '4',
 '07410': '9',
 '07520': '2',
 '07530': '4',
 '07620': '4',
 '07630': '4',
 '07640': '9',
 '07710': '4',
 '07920': '4',
 '07930': '4',
 '07940': '4',
 '07950': '4',
 '07990': '4',
 '08110': '2',
 '08120': '2',
 '08130': '2',
 '08220': '2',
 '08230': '2',
 '08240': '2',
 '08250': '2',
 '08310': '2',
 '08420': '2',
 '08490': '2',
 '09010': '2',
 '09020': '2',
 '09030': '2',
 '11010': '2',
 '11020': '2',
 '11090': '2',
 '12000': '2',
 '12110': '2',
 '12210': '2',
 '12310': '2',
 '12410': '2',
 '12910': '2',
 '13000': '2',
 '13020': '2',
 '13030': '2',
 '13100': '2',
 '13120': '2',
 '13125': '2',
 '13130': '2',
 '13140': '2',
 '13145': '2',
 '13150': '2',
 '13155': '2',
 '13160': '2',
 '13165': '2',
 '13170': '2',
 '13175': '2',
 '13180': '2',
 '13190': '2',
 '13200': '2',
 '13215': '2',
 '13220': '2',
 '13230': '2',
 '13240': '2',
 '13250': '2',
 '13260': '2',
 '13270': '2',
 '13275': '2',
 '13280': '2',
 '13290': '2',
 '13320': '4',
 '13390': '4',
 '13420': '4',
 '13490': '5',
 '13520': '4',
 '13530': '4',
 '13540': '4',
 '13590': '4',
 '13920': '2',
 '13930': '2',
 '13940': '1',
 '13950': '2',
 '13960': '2',
 '13990': '2',
 '14120': '2',
 '14130': '4',
 '14140': '4',
 '14190': '2',
 '14920': '5',
 '14990': '2',
 '15120': '2',
 '15130': '2',
 '15900': '2',
 '15915': '2',
 '15920': '2',
 '15925': '4',
 '15930': '2',
 '15935': '2',
 '15940': '2',
 '15945': '2',
 '15950': '2',
 '15955': '2',
 '15960': '2',
 '15965': '2',
 '15990': '2',
 '16000': '4',
 '16100': '4',
 '16120': '4',
 '16130': '4',
 '16140': '4',
 '16150': '4',
 '16160': '4',
 '16190': '4',
 '16200': '4',
 '16220': '4',
 '16230': '2',
 '16240': '4',
 '16250': '4',
 '16290': '4',
 '16310': '4',
 '16320': '4',
 '16330': '4',
 '16340': '4',
 '16350': '4',
 '16360': '4',
 '16370': '4',
 '16390': '4',
 '17000': '4',
 '17120': '2',
 '17130': '2',
 '17135': '3',
 '17140': '4',
 '17145': '4',
 '17150': '4',
 '17190': '2',
 '17220': '2',
 '17230': '4',
 '17320': '4',
 '17330': '1',
 '17340': '3',
 '17350': '4',
 '17390': '4',
 '17420': '4',
 '17430': '4',
 '17440': '2',
 '17490': '4',
 '17520': '4',
 '17530': '4',
 '17540': '7',
 '17550': '7',
 '17590': '7',
 '17920': '5',
 '17930': '5',
 '17940': '5',
 '17990': '4',
 '18020': '9',
 '18030': '4',
 '18040': '4',
 '18050': '4',
 '18090': '5',
 '19120': '4',
 '19130': '4',
 '19140': '2',
 '19190': '4',
 '19220': '2',
 '19230': '2',
 '19240': '2',
 '19250': '2',
 '19260': '2',
 '19270': '2',
 '19290': '2',
 '19310': '4',
 '19320': '4',
 '19330': '4',
 '19340': '4',
 '19350': '4',
 '19390': '4',
 '19420': '4',
 '19430': '2',
 '19440': '2',
 '19490': '4',
 '19520': '2',
 '19530': '4',
 '19540': '2',
 '19920': '4',
 '19930': '4',
 '19940': '3',
 '19950': '2',
 '19960': '5',
 '19990': '4',
 '20110': '1',
 '20210': '1',
 '21000': '3',
 '21110': '1',
 '21200': '3',
 '21220': '3',
 '21230': '3',
 '21240': '3',
 '21300': '3',
 '21320': '1',
 '21330': '3',
 '21340': '3',
 '21420': '1',
 '21430': '3',
 '21440': '3',
 '21490': '3',
 '21920': '1',
 '21940': '1',
 '21950': '1',
 '21960': '1',
 '21970': '1',
 '21980': '1',
 '21990': '1',
 '22000': '3',
 '22110': '3',
 '22190': '3',
 '22210': '3',
 '22220': '3',
 '22230': '3',
 '22235': '4',
 '22240': '4',
 '22245': '4',
 '22250': '3',
 '22255': '3',
 '22260': '3',
 '22265': '4',
 '22270': '4',
 '22275': '3',
 '22280': '3',
 '22290': '3',
 '22320': '3',
 '22330': '3',
 '22390': '3',
 '22420': '6',
 '22425': '6',
 '22430': '6',
 '22440': '6',
 '22450': '6',
 '22460': '6',
 '22490': '6',
 '22520': '3',
 '22610': '3',
 '22620': '6',
 '22630': '6',
 '22640': '6',
 '22650': '6',
 '22655': '6',
 '22660': '6',
 '22665': '6',
 '22670': '6',
 '22675': '6',
 '22680': '6',
 '22690': '6',
 '30000': '5',
 '31000': '5',
 '31020': '4',
 '31030': '2',
 '31040': '4',
 '31090': '4',
 '32110': '5',
 '32120': '5',
 '32130': '5',
 '32140': '5',
 '32150': '5',
 '32190': '5',
 '32220': '5',
 '32290': '5',
 '33110': '4',
 '33120': '4',
 '33130': '5',
 '33135': '5',
 '33140': '5',
 '33150': '5',
 '33160': '5',
 '33170': '4',
 '33190': '5',
 '33920': '5',
 '33930': '5',
 '33940': '5',
 '33990': '5',
 '34120': '5',
 '34130': '5',
 '34220': '5',
 '34230': '5',
 '34290': '5',
 '36000': '9',
 '36020': '9',
 '36030': '9',
 '36040': '9',
 '36090': '9',
 '37000': '9',
 '37010': '4',
 '37020': '9',
 '37030': '9',
 '37040': '9',
 '37090': '9',
 '38000': '4',
 '38020': '9',
 '38030': '4',
 '38040': '5',
 '38050': '4',
 '38060': '4',
 '38090': '9',
 '39110': '5',
 '39120': '5',
 '39130': '5',
 '39140': '5',
 '39150': '9',
 '39190': '5',
 '39220': '5',
 '39230': '5',
 '39310': '5',
 '39320': '5',
 '39330': '5',
 '39340': '4',
 '39350': '5',
 '39390': '5',
 '39410': '5',
 '39420': '5',
 '39430': '5',
 '39440': '5',
 '39490': '5',
 '39520': '5',
 '39530': '5',
 '39920': '5',
 '39930': '5',
 '39940': '5',
 '39950': '9',
 '39960': '5',
 '39990': '5',
 '41020': '3',
 '41025': '4',
 '41030': '4',
 '41040': '4',
 '42220': '4',
 '42230': '4',
 '43120': '4',
 '43130': '4',
 '43200': '4',
 '43220': '4',
 '43230': '4',
 '44000': '4',
 '44100': '4',
 '44120': '4',
 '44130': '4',
 '44140': '4',
 '44190': '4',
 '44220': '4',
 '44230': '4',
 '44320': '4',
 '44330': '2',
 '45120': '4',
 '45125': '5',
 '45130': '5',
 '45140': '5',
 '45150': '5',
 '45190': '5',
 '45220': '11',
 '45230': '11',
 '45240': '11',
 '45290': '11',
 '49020': '5',
 '49030': '11',
 '49090': '5',
 '51000': '4',
 '51020': '1',
 '51030': '4',
 '51040': '4',
 '51050': '4',
 '51090': '4',
 '53100': '7',
 '53120': '6',
 '53130': '7',
 '53140': '7',
 '53150': '9',
 '53190': '11',
 '53210': '9',
 '53220': '3',
 '53230': '9',
 '53240': '9',
 '53250': '9',
 '53290': '9',
 '54010': '9',
 '54020': '11',
 '54030': '9',
 '54035': '9',
 '54040': '5',
 '54050': '11',
 '54055': '9',
 '54060': '5',
 '54090': '9',
 '55100': '5',
 '55120': '5',
 '55125': '5',
 '55130': '5',
 '55140': '5',
 '55190': '5',
 '55220': '11',
 '55230': '11',
 '55240': '11',
 '55290': '11',
 '56010': '9',
 '56020': '9',
 '56030': '9',
 '56040': '9',
 '56050': '9',
 '56060': '9',
 '56065': '9',
 '56070': '9',
 '56080': '9',
 '56090': '11',
 '57020': '9',
 '57025': '9',
 '57030': '9',
 '57040': '9',
 '57050': '9',
 '57060': '9',
 '57070': '9',
 '57090': '7',
 '58110': '7',
 '58120': '4',
 '58130': '7',
 '58140': '7',
 '58220': '4',
 '58225': '4',
 '58230': '4',
 '58240': '5',
 '58300': '9',
 '58320': '1',
 '58330': '3',
 '58340': '9',
 '58920': '4',
 '58930': '5',
 '58940': '5',
 '58990': '5',
 '59100': '5',
 '59120': '5',
 '59130': '5',
 '59220': '4',
 '59230': '7',
 '59290': '9',
 '59920': '5',
 '59930': '5',
 '59940': '9',
 '59950': '9',
 '59960': '9',
 '59970': '9',
 '59980': '11',
 '59990': '9',
 '61110': '8',
 '61115': '10',
 '61120': '1',
 '61220': '8',
 '61230': '8',
 '61235': '8',
 '61240': '8',
 '61250': '8',
 '61260': '8',
 '61270': '8',
 '61290': '8',
 '62105': '12',
 '62110': '12',
 '62120': '10',
 '62210': '12',
 '62220': '12',
 '62230': '12',
 '62240': '12',
 '62250': '10',
 '62260': '12',
 '62290': '12',
 '62320': '10',
 '62330': '12',
 '62340': '12',
 '62350': '12',
 '62390': '12',
 '62400': '12',
 '62410': '12',
 '62420': '12',
 '62430': '12',
 '62440': '12',
 '62450': '12',
 '62460': '12',
 '62490': '12',
 '62510': '10',
 '62520': '10',
 '62590': '12',
 '62610': '12',
 '62620': '12',
 '62690': '12',
 '62700': '12',
 '62720': '12',
 '62730': '12',
 '62740': '12',
 '62790': '12',
 '62820': '10',
 '62890': '10',
 '62920': '10',
 '62930': '12',
 '62940': '12',
 '62950': '12',
 '62960': '11',
 '62970': '11',
 '62990': '12',
 '63110': '10',
 '63120': '10',
 '63130': '8',
 '63140': '10',
 '63190': '10',
 '63220': '3',
 '63230': '12',
 '63240': '8',
 '63250': '12',
 '63290': '12',
 '64100': '10',
 '64120': '10',
 '64130': '10',
 '64920': '12',
 '64930': '12',
 '64940': '10',
 '64945': '10',
 '64950': '10',
 '64960': '10',
 '64990': '8',
 '71105': '9',
 '71110': '9',
 '71120': '9',
 '71125': '9',
 '71130': '9',
 '71140': '9',
 '71150': '7',
 '71160': '9',
 '71170': '11',
 '71190': '11',
 '71200': '9',
 '71220': '9',
 '71230': '9',
 '71240': '9',
 '71250': '9',
 '71260': '9',
 '71270': '9',
 '71280': '9',
 '71290': '11',
 '71300': '9',
 '71320': '9',
 '71330': '9',
 '71340': '7',
 '71350': '7',
 '71360': '9',
 '71370': '9',
 '71380': '9',
 '71390': '9',
 '72000': '9',
 '72100': '9',
 '72120': '9',
 '72130': '9',
 '72140': '9',
 '72150': '9',
 '72160': '9',
 '72170': '9',
 '72190': '9',
 '72200': '9',
 '72220': '9',
 '72230': '9',
 '72240': '9',
 '72250': '9',
 '72260': '9',
 '72270': '9',
 '72290': '9',
 '72320': '9',
 '72330': '9',
 '72340': '9',
 '72390': '9',
 '72420': '9',
 '72430': '9',
 '72440': '9',
 '72450': '9',
 '72490': '9',
 '72500': '7',
 '72520': '7',
 '72530': '7',
 '72540': '9',
 '72550': '7',
 '72555': '7',
 '72560': '9',
 '72590': '9',
 '72620': '9',
 '72630': '9',
 '72640': '9',
 '72650': '9',
 '72690': '11',
 '72720': '9',
 '72725': '9',
 '72730': '9',
 '72740': '9',
 '72750': '9',
 '72790': '11',
 '72820': '9',
 '72830': '9',
 '72840': '9',
 '72850': '9',
 '72890': '9',
 '72920': '9',
 '72930': '11',
 '72940': '9',
 '72990': '9',
 '73100': '9',
 '73120': '9',
 '73130': '9',
 '73190': '11',
 '73200': '9',
 '73210': '9',
 '73220': '9',
 '73230': '9',
 '73240': '9',
 '73250': '11',
 '73260': '9',
 '73270': '9',
 '73290': '9',
 '73320': '9',
 '73330': '9',
 '73340': '9',
 '73350': '9',
 '73360': '9',
 '73390': '11',
 '73400': '9',
 '73420': '9',
 '73430': '9',
 '73440': '9',
 '73450': '9',
 '73460': '9',
 '73490': '9',
 '74100': '9',
 '74120': '9',
 '74130': '9',
 '74140': '9',
 '74190': '9',
 '74220': '9',
 '74230': '9',
 '74240': '9',
 '74290': '9',
 '74320': '9',
 '74330': '9',
 '74340': '9',
 '74350': '9',
 '74390': '9',
 '74400': '9',
 '74420': '9',
 '74430': '9',
 '74440': '9',
 '74450': '9',
 '74460': '9',
 '74470': '9',
 '74490': '9',
 '74500': '11',
 '74520': '9',
 '74530': '9',
 '74540': '9',
 '74550': '9',
 '74560': '9',
 '74570': '9',
 '74590': '9',
 '74915': '9',
 '74920': '9',
 '74925': '9',
 '74930': '9',
 '74935': '9',
 '74940': '7',
 '74990': '9',
 '75000': '9',
 '75100': '9',
 '75115': '9',
 '75120': '9',
 '75125': '9',
 '75130': '9',
 '75135': '9',
 '75140': '9',
 '75145': '9',
 '75150': '9',
 '75155': '9',
 '75190': '11',
 '75220': '9',
 '75230': '9',
 '75240': '9',
 '75250': '9',
 '75290': '11',
 '75320': '7',
 '75330': '7',
 '75340': '9',
 '75350': '9',
 '75390': '9',
 '75400': '9',
 '75415': '9',
 '75420': '11',
 '75422': '11',
 '75425': '11',
 '75430': '9',
 '75432': '9',
 '75435': '9',
 '75440': '9',
 '75445': '9',
 '75450': '9',
 '75452': '9',
 '75455': '9',
 '75457': '9',
 '75460': '9',
 '75465': '9',
 '75470': '9',
 '75475': '7',
 '75490': '9',
 '75500': '9',
 '75520': '9',
 '75530': '9',
 '75535': '9',
 '75540': '9',
 '75550': '9',
 '75590': '9',
 '75600': '9',
 '75615': '9',
 '75620': '9',
 '75622': '9',
 '75625': '9',
 '75630': '9',
 '75635': '9',
 '75640': '9',
 '75645': '9',
 '75650': '9',
 '75655': '9',
 '75660': '9',
 '75665': '9',
 '75670': '9',
 '75690': '9',
 '75710': '9',
 '75720': '9',
 '75920': '11',
 '75922': '11',
 '75925': '7',
 '75930': '9',
 '75935': '9',
 '75940': '9',
 '75945': '9',
 '75950': '9',
 '75990': '9',
 '76100': '9',
 '76120': '9',
 '76125': '9',
 '76130': '9',
 '76135': '9',
 '76140': '11',
 '76145': '9',
 '76150': '11',
 '76155': '9',
 '76190': '9',
 '76200': '9',
 '76220': '9',
 '76230': '9',
 '76240': '9',
 '76250': '9',
 '76260': '9',
 '76290': '9',
 '77120': '7',
 '77130': '7',
 '77140': '9',
 '77190': '9',
 '77200': '9',
 '77220': '9',
 '77230': '9',
 '77240': '9',
 '77250': '9',
 '77260': '9',
 '77290': '9',
 '77310': '7',
 '77320': '9',
 '77330': '9',
 '77340': '9',
 '77390': '9',
 '77410': '9',
 '77415': '9',
 '77420': '9',
 '77430': '11',
 '77440': '9',
 '77450': '9',
 '77460': '9',
 '77490': '11',
 '77510': '9',
 '77520': '9',
 '77530': '9',
 '77540': '7',
 '77550': '7',
 '77590': '11',
 '77610': '7',
 '77620': '7',
 '77630': '7',
 '77640': '9',
 '77650': '9',
 '77660': '9',
 '77690': '9',
 '77720': '4',
 '77730': '9',
 '77740': '9',
 '77750': '9',
 '77760': '9',
 '77790': '9',
 '77810': '7',
 '77820': '9',
 '77825': '9',
 '77830': '9',
 '77835': '9',
 '77840': '9',
 '77850': '9',
 '77860': '4',
 '77870': '9',
 '77880': '9',
 '77890': '9',
 '77920': '9',
 '77925': '9',
 '77930': '9',
 '77940': '9',
 ...}

In [81]:
# Add the new HISCO title for the "Intermediate"
mappings["66666"] = "13"

In [82]:
value_exists_in_mappings = "66666" in mappings

mapping_value = mappings.get("66666", "Not found")

value_exists_in_mappings, mapping_value

(True, '13')

In [83]:
# Create a mapping dictionary for the Skills
skill_mappings = {
    "1": "high",
    "2": "high",
    "3": "medium",
    "4": "medium",
    "5": "low",
    "6": "medium",
    "7": "medium",
    "8": "medium",
    "9": "low",
    "10": "low",
    "11": "unskilled",
    "12": "unskilled",
    "13": "medium"} #for occupations with multiple skill levels

# Helper Functions

In [84]:
def replace_values_with_mappings(df, columns, mappings):

    """
    Replace the values in the specified columns of the DataFrame using the provided mappings dictionary.
    Also report any values that could not be replaced and their positions.
    Parameters:
    df (DataFrame): The DataFrame to modify
    columns (list): The list of columns to replace values in
    mappings (dict): The dictionary to use for the replacements

    Returns:
    DataFrame: The DataFrame with replaced values
    list: A list of tuples containing column names and index positions where values could not be replaced
    """
    not_replaced = []

    # Loop over each column

    for column in columns:
        # Loop over each row in the column
        for idx, value in enumerate(df[column]):
            try:
                # Try to replace the value using the mappings dictionary
                df.loc[idx, column] = mappings[value]
            except KeyError:
                # If the value is not in the mappings dictionary, record its position
                not_replaced.append((column, idx))          

    return df, not_replaced

In [85]:
def SkillCalculator(df_agri, df_A_Rest, status_cols, HISCO_cols, threshold_criteria = "Average_Firm_Size", threshold_lvl = 50):
    
    """
    This function performs several operations to update df_A_Rest based on the values in the DataFrame df_agri.
    The purpose is to use the distributional data on the status (e.g. uneducated laborer) and the corresponding
    HISCO, which was assigned by Hand, for each "Berufszweig" in the DataFrame df_agri.   
    1. It first calculates "_per" columns in the DataFrame, which are the proportions of each column
       related to the total sum of specific columns.
    2. The function then uses a threshold from the "Average_Firm_Size" column to decide how to 
       update df_A_Rest. If the average firm size is less than 50, it performs specific calculations
       to update skill levels ("high", "medium", "low", "unskilled") in df_A_Rest.

    Parameters:
    df_agri (DataFrame): Source DataFrame containing classifications and shares of occupations per profession.
    df_A_Rest (DataFrame): Orginal occupational data. Target DataFrame to be updated based on df_agri.

    Returns:
    df_agri (DataFrame): Updated source DataFrame with additional "_per" columns.
    df_A_Rest (DataFrame): Updated target DataFrame with skill level columns.
    """
    
    # Step 1: Create new "_per" columns
    cols_to_sum = status_cols
    df_agri["total"] = df_agri[cols_to_sum].sum(axis=1)
    for col in cols_to_sum:
        new_col_name = f"{col}_per"
        df_agri[new_col_name] = df_agri[col] / df_agri["total"]

    # Step 2: Convert "Average_Firm_Size" to float
    df_agri[threshold_criteria] = df_agri[threshold_criteria].astype(float)
    

    # Initialize empty columns in df_A_Rest
    df_A_Rest.loc[:, "high"] = 0
    df_A_Rest.loc[:, "medium"] = 0
    df_A_Rest.loc[:, "low"] = 0
    df_A_Rest.loc[:, "unskilled"] = 0

    # Step 3: Loop through each row in df_agri
    for idx, row in df_agri.iterrows():
        average_firm_size = row[threshold_criteria]
        special_case = row["Eindeutig_Identifizierbar"] == "Sonderfall"
        if average_firm_size < threshold_lvl and not special_case:
            # Calculate Handwerker
            handwerker_cols = [f"{col}_per" for col in cols_to_sum if col not in ["c3", "c1"]]
            handwerker = row[handwerker_cols].sum()
            print(f"Row {idx}: Calculated Handwerker as {handwerker} using columns {handwerker_cols}")
            
            # Calculate no Handwerker
            no_handwerker_cols = [f"{col}_per" for col in cols_to_sum if col in ["c3", "c1"]]
            no_handwerker = row[no_handwerker_cols].sum()
            print(f"Row {idx}: Calculated No_Handwerker as {no_handwerker} using columns {no_handwerker_cols}")
            
            # Find corresponding row(s) in df_A_Rest
            mask = (df_A_Rest["i_Grossbuchstabe"] == row["Letter"]) & (df_A_Rest["i_Ziffer"] == row["Number"])
            df_target_rows = df_A_Rest[mask]

            # Update df_A_Rest
            for target_idx, target_row in df_target_rows.iterrows():
                value_to_add = handwerker * target_row["d_Hauptberuf"]
                skill_level_c2 = row["c2_HISCO"]
                skill_level_c3 = row["c3_HISCO"]

                value_to_add_c3 = no_handwerker * target_row["d_Hauptberuf"]

                # Sum up the values if both c2_HISCO and c3_HISCO contain the same value
                df_A_Rest.loc[target_idx, skill_level_c2] += value_to_add
                df_A_Rest.loc[target_idx, skill_level_c3] += value_to_add_c3
        
         # New case for Average_Firm_Size >= 50

        else:
            # Find corresponding row(s) in df_A_Rest
            mask = (df_A_Rest["i_Grossbuchstabe"] == row["Letter"]) & (df_A_Rest["i_Ziffer"] == row["Number"])
            df_target_rows = df_A_Rest[mask]        

            # Columns to consider from a1 to c3, excluding c1
            cols_to_consider = HISCO_cols            

            # Update df_A_Rest based on these columns
            for target_idx, target_row in df_target_rows.iterrows():
                for col in cols_to_consider:
                    col_per = f"{col}_per"
                    skill_level = row[f"{col}_HISCO"]                   

                    # Special case: Include c1 as part of c2
                    if col == "c3":
                        value_to_add = (row["c3_per"] + row["c1_per"]) * target_row["d_Hauptberuf"]
                    else:
                        value_to_add = row[col_per] * target_row["d_Hauptberuf"]                        

                    df_A_Rest.loc[target_idx, skill_level] += value_to_add

    return df_agri, df_A_Rest

# Agriculture

In [86]:
# Filter the data so we only have the people working in agriculture
# First, filter rows where "i_Grossbuchstabe" == "A"

df_A = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"] == "A"]

# Then, from this filtered DataFrame, filter rows where "i_Ziffer" == 1

df_A_1 = df_A[df_A["i_Ziffer"] == 1]

df_A_Rest = occupation_detailed_df[(occupation_detailed_df["i_Grossbuchstabe"] == "A") & (occupation_detailed_df["i_Ziffer"].isin([2, 3, 5, 6]))]

# Display the final filtered DataFrame

df_A_1

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
0,1.0,A,1,6541.0,5786.0,12327.0,17.0,,,,,0
151,2.0,A,1,6958.0,2642.0,9600.0,17.0,,,,,0
278,4.0,A,1,775.0,541.0,1316.0,17.0,,,,,0
470,5.0,A,1,7888.0,4313.0,12201.0,17.0,,,,,0
580,6.0,A,1,8346.0,6940.0,15286.0,17.0,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,698.0,A,1,6929.0,4864.0,11793.0,1.0,,,,,0
80437,699.0,A,1,3807.0,3802.0,7609.0,31.0,,,,,0
80564,700.0,A,1,2647.0,300.0,2947.0,31.0,,,,,0
80672,701.0,A,1,3313.0,3884.0,7197.0,31.0,,,,,0
80791,702.0,A,1,2186.0,2922.0,5108.0,31.0,,,,,0

## **1. Agriculture** (df_A_1)

In [87]:
Agri_rb = pd.read_excel(f"{classification_path}\Agriculture_Regionalized.xlsx", dtype=str)
Agri_rb

,Regierungsbezirk,id,province,province_name,a1,a2,b,c,Summe,Fläche der Betriebe mit über 100ha
0,Aachen,1,12,Rheinprovinz,11414.10965504654,17162.89034495346,188,54922,83687,4.4
1,Allenstein,37,1,Ostpreußen,22358.079997615572,10659.92000238443,1157,107974,142149,30.8
2,Arnsberg,2,10,Westfalen,15318.370995750969,13712.629004249031,646,76458,106135,4.3
3,Aurich,3,9,Hannover,7328.028000770663,8724.971999229336,209,44926,61188,3.8
4,Breslau,5,6,Schlesien,33898.66478795318,24788.33521204682,4705,234295,297687,41.6
5,Bromberg,6,5,Posen,23026.96644018288,8972.033559817119,2593,142645,177237,44.4
6,Danzig,7,2,Westpreußen,17593.065254512927,7775.93474548707,1646,97352,124367,31.9
7,Düsseldorf,8,12,Rheinprovinz,16783.36947200784,17769.630527992158,570,92568,127691,3.1
8,Erfurt,9,7,Sachsen,10256.883651487682,8561.116348512318,436,52277,71531,15.6
9,Frankfurt,10,3,Brandenburg,33396.12918660287,24323.87081339713,2676,210002,270398,35.3
10,Gumbinnen,11,1,Ostpreußen,23843.240263120533,18191.759736879467,1801,138514,182350,32
11,Hannover,12,9,Hannover,15000.705514639842,13162.294485360158,438,78299,106900,8.8
12,Hildesheim,13,9,Hannover,10997.651739690722,7755.348260309278,970,70511,90234,20.5
13,Kassel,14,11,Hessen-Nassau,24401.28367308849,24503.716326911515,605,130651,180161,9
14,Koblenz,15,12,Rheinprovinz,15139.364124449341,38167.63587555066,494,111970,165771,1.1
15,Köln,16,12,Rheinproviz,10900.855983634503,20636.144016365495,295,63742,95574,9.8
16,Königsberg,17,1,Ostpreußen,20493.76221713175,7857.237782868248,3167,145917,177435,49.8
17,Köslin,18,4,Pommern,24741.12035262553,8941.879647374473,2398,131779,167860,50.7
18,Liegnitz,19,6,Schlesien,31206.96923452145,26769.030765478554,3725,174819,236520,28.8
19,Lüneburg,20,9,Hannover,19040.740253134256,14299.259746865744,519,104618,138477,6.3
20,Magdeburg,21,7,Sachsen,22781.821320241404,10010.178679758592,3113,168138,204043,31.9
21,Marienwerder,22,2,Westpreußen,31594.25266262494,17589.74733737506,3005,191808,243997,41.4
22,Merseburg,23,7,Sachsen,24223.791729688084,10654.20827031192,3424,163907,202209,29.8
23,Minden,24,10,Westfalen,15053.990430101678,22382.00956989832,391,84135,121962,8
24,Münster,25,10,Westfalen,17954.351078225318,17166.648921774682,601,90618,126340,2.3
25,Oppeln,26,6,Schlesien,32553.599550928215,43400.400449071785,2247,232660,310861,33
26,Osnabrück,27,9,Hannover,12608.901241304051,17354.09875869595,72,70483,100518,0.7
27,Potsdam,29,3,Brandenburg,30699.38323164062,11004.616768359385,2468,194430,238602,35.7
28,Posen,28,5,Posen,39769.85037762809,23303.149622371915,4934,249151,317158,47.1
29,Schleswig,30,8,Schleswig,44088.04242084618,11500.957579153825,2663,161324,219576,16.3
30,Sigmaringen,31,14,Hohenzollerische Lande,3415.8975447452963,5287.102455254704,17,16930,25650,1.6
31,Stade,32,9,Hannover,14853.706931142824,12070.293068857176,208,63324,90456,4
32,Stadt Berlin,4,13,Brandenburg,547,0,126,782,1455,0
33,Stettin,33,4,Pommern,21119.739025494044,6065.260974505959,2383,124166,153734,49.5
34,Stralsund,34,4,Pommern,3306.1357311068286,1483.8642688931707,1401,39449,45640,77.3
35,Trier,35,12,Rheinprovinz,18857.76000519188,30300.23999480812,137,113742,163037,1.4
36,Wiesbaden,36,11,Hessen-Nassau,13537.14362951979,29609.85637048021,178,88350,131675,2.9

==> percentages für a1 (General Farmers, medium skilled) und a2 (Subistenzlandwirtschaft, low skilled)

In [ ]:
#calculate the percentages

# for a1
Agri_rb["a1"] = Agri_rb["a1"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["a1_per"] = Agri_rb["a1"] / Agri_rb["Summe"]

# for a2
Agri_rb["a2"] = Agri_rb["a2"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["a2_per"] = Agri_rb["a2"] / Agri_rb["Summe"]

# for b
Agri_rb["b"] = Agri_rb["b"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["b_per"] = Agri_rb["b"] / Agri_rb["Summe"]

# for c
Agri_rb["c"] = Agri_rb["c"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["c_per"] = Agri_rb["c"] / Agri_rb["Summe"]

In [ ]:
Agri_rb

In [ ]:
# Convert 'rb_id' in both DataFrames to string to ensure they have the same format

df_A_1["rb_id"] = df_A_1["rb_id"].astype(str)

Agri_rb["id"] = Agri_rb["id"].astype(str)

# Remove the '.0' from the 'rb_id' values in df_A_1
df_A_1["rb_id"] = df_A_1["rb_id"].str.replace('.0', '', regex=False)

# Perform the merge 
df_A_1 = pd.merge(df_A_1, Agri_rb[["id", "a1_per", "a2_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Show some rows
df_A_1.head()

In [ ]:
# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf_total' to float for calculations

df_A_1["a1_per"] = df_A_1["a1_per"].astype(float)
df_A_1["a2_per"] = df_A_1["a2_per"].astype(float)
df_A_1["b_per"] = df_A_1["b_per"].astype(float)
df_A_1["c_per"] = df_A_1["c_per"].astype(float)
df_A_1["d_Hauptberuf"] = df_A_1["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

df_A_1["high"] = ''
df_A_1["medium"] = df_A_1["d_Hauptberuf"] * df_A_1["a1_per"]
df_A_1["low"] = df_A_1["d_Hauptberuf"] * (df_A_1["a2_per"] + df_A_1["b_per"])
df_A_1["unskilled"] = df_A_1["d_Hauptberuf"] * df_A_1["c_per"]

# Reorder the columns

column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]

df_A_1 = df_A_1[column_order]
df_A_1

## Other Primary Professions (df_A_Rest)

In [ ]:
df_A_Rest

In [ ]:
# Load the data to classify Agri_Rest

df_agri_rest = pd.read_excel(f"{classification_path}\Intermediate_Primary_Sector_Rest.xlsx", dtype=str)

In [ ]:
# Columns to replace values in
columns_to_replace = ["a1_HISCO", "a2_HISCO", "a3_HISCO", "b1_HISCO", "b2_HISCO", "b3_HISCO", "c2_HISCO", "c3_HISCO"]

# Use the function to replace values in df_agri_rest
df_agri_rest, not_replaced_positions = replace_values_with_mappings(df_agri_rest, columns_to_replace, mappings)

# Show the first few rows of the modified DataFrame and the positions where values could not be replaced
df_agri_rest, not_replaced_positions

In [ ]:
pd.set_option("display.max_columns", None)
df_agri_rest

In [ ]:
df_agri_rest, not_replaced_positions = replace_values_with_mappings(df_agri_rest, columns_to_replace, skill_mappings)
df_agri_rest

In [ ]:
cols_to_check = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3", "afr", "Average_Firm_Size"]
print(df_agri_rest[cols_to_check].dtypes)
print(df_A_Rest["d_Hauptberuf"].dtypes)

# Convert to floats
df_agri_rest[cols_to_check] = df_agri_rest[cols_to_check].apply(pd.to_numeric, errors="coerce")

# Convert 'd_Hauptberuf' column in df_A_Rest to float
df_A_Rest["d_Hauptberuf"] = pd.to_numeric(df_A_Rest["d_Hauptberuf"], errors="coerce")

# Check the data types after conversion
agri_dtypes = df_agri_rest[cols_to_check].dtypes
a_rest_dtype = df_A_Rest["d_Hauptberuf"].dtype
print(agri_dtypes)
print(a_rest_dtype)

In [ ]:
# Define the columns
#df_agri_rest["c3"] = df_agri_rest["c3"] + df_agri_rest["afr"]

# HISCO cols
cols_to_consider = ["a1", "a2", "a3", "b1", "b2", "b3", "c2", "c3"]

# columns to consider
status_cols = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3"]
df_A_Rest.loc[:, "i_Ziffer"] = df_A_Rest["i_Ziffer"].astype(str)
df_agri_rest_filled3, df_A_Rest = SkillCalculator(df_agri_rest, df_A_Rest, status_cols, cols_to_consider)
df_A_Rest

# Manufacturing and Crafts

In [ ]:
# Filter the data so we only have the people working in industry
# First, filter rows where "i_Grossbuchstabe" == "B"

df_Ind = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"] == "B"]

# Drop people in the industrial sector that couldn't be assigned

df_Ind = df_Ind[df_Ind["i_Ziffer"] != 166]

# Display the final filtered DataFrame

df_Ind

In [ ]:
# Load the data to classify df_Ind
df_dist_Ind = pd.read_excel(f"{classification_path}\Intermediate_Manufacturing_and_Crafts.xlsx", dtype=str)
df_dist_Ind = df_dist_Ind[df_dist_Ind["Number"] != "166"]
df_dist_Ind

In [ ]:
# Columns to replace values in
columns_to_replace = ["a1_HISCO", "a2_HISCO", "a3_HISCO", "b1_HISCO", "b2_HISCO", "b3_HISCO", "c2_HISCO", "c3_HISCO"]

# Use the function to replace values in df_agri_rest
df_dist_Ind, not_replaced_positions = replace_values_with_mappings(df_dist_Ind, columns_to_replace, mappings)

# Show the first few rows of the modified DataFrame and the positions where values could not be replaced
df_dist_Ind, not_replaced_positions

In [ ]:
# Now map the to skill level
df_dist_Ind, not_replaced_positions = replace_values_with_mappings(df_dist_Ind, columns_to_replace, skill_mappings)
df_dist_Ind

In [ ]:
cols_to_check = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3", "afr", "Average_Firm_Size"]
print(df_dist_Ind[cols_to_check].dtypes)
print(df_Ind["d_Hauptberuf"].dtypes)

# Convert to floats
df_dist_Ind[cols_to_check] = df_dist_Ind[cols_to_check].apply(pd.to_numeric, errors='coerce')

# Convert 'd_Hauptberuf' column in df_Ind to float
df_Ind["d_Hauptberuf"] = pd.to_numeric(df_Ind["d_Hauptberuf"], errors='coerce')

# Check the data types after conversion
dist_Ind_dtypes = df_dist_Ind[cols_to_check].dtypes
Ind_dtype = df_Ind["d_Hauptberuf"].dtype
print(dist_Ind_dtypes)
print(Ind_dtype)

In [ ]:
# Define the columns
status_cols = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3"]
cols_to_consider = ["a1", "a2", "a3", "b1", "b2", "b3", "c2", "c3"]

df_Ind.loc[:, "i_Ziffer"] = df_Ind["i_Ziffer"].astype(str)
df_dist_Ind_finished, df_Ind = SkillCalculator(df_dist_Ind, df_Ind, status_cols, cols_to_consider)
df_Ind

# Services

In [ ]:
# Filter the data so we only have the people working in industry
# First, filter rows where "i_Grossbuchstabe" == "C", "D" or "E"

df_Serv_C = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["C", "D"])]

# Drop people in the industrial sector that couldn't be assigned

df_Serv_C = df_Serv_C[~df_Serv_C["i_Ziffer"].isin([12, 13])]

# Display the final filtered DataFrame

df_Serv_E = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]

# Drop people in the industrial sector that couldn't be assigned

df_Serv_E = df_Serv_E[~df_Serv_E["i_Ziffer"].isin([1, 2, 3, 4, 5, 8])]

# Merge both DataFrames

df_Ser = pd.concat([df_Serv_C, df_Serv_E], ignore_index=True)

# Let's have a look

df_Ser[:-40]

In [ ]:
# Load the data to classify df_Ind
df_dist_Ser = pd.read_excel(f"{classification_path}\Intermediate_Services.xlsx", dtype=str)
df_dist_Ser

In [ ]:
# Columns to replace values in
columns_to_replace = ["a1_HISCO", "a2_HISCO", "a3_HISCO", "b_HISCO", "c2_HISCO", "c3_HISCO"]

# Use the function to replace values in df_agri_rest
df_dist_Ser, not_replaced_positions = replace_values_with_mappings(df_dist_Ser, columns_to_replace, mappings)

# Show the first few rows of the modified DataFrame and the positions where values could not be replaced
df_dist_Ser, not_replaced_positions

In [ ]:
# Now map the to skill level
df_dist_Ser, not_replaced_positions = replace_values_with_mappings(df_dist_Ser, columns_to_replace, skill_mappings)
df_dist_Ser

In [ ]:
cols_to_check = ["a1", "a2", "a3", "b", "c1", "c2", "c3", "Average_Firm_Size"]
print(df_dist_Ser[cols_to_check].dtypes)
print(df_Ser["d_Hauptberuf"].dtypes)

# Convert to floats
df_dist_Ser[cols_to_check] = df_dist_Ser[cols_to_check].apply(pd.to_numeric, errors="coerce")

# Convert 'd_Hauptberuf' column in df_A_Rest to float
df_Ser["d_Hauptberuf"] = pd.to_numeric(df_Ser["d_Hauptberuf"], errors="coerce")

# Check the data types after conversion
dist_Ser_dtypes = df_dist_Ser[cols_to_check].dtypes
Ser_dtype = df_Ser["d_Hauptberuf"].dtype
print(dist_Ser_dtypes)
print(Ser_dtype)

In [ ]:
# Define the columns
status_cols = ["a1", "a2", "a3", "b", "c1", "c2", "c3"]
cols_to_consider = ["a1", "a2", "a3", "b", "c2", "c3"]
df_Ser.loc[:, "i_Ziffer"] = df_Ser["i_Ziffer"].astype(str)
df_dist_Ser_finished, df_Ser_finished = SkillCalculator(df_dist_Ser, df_Ser, status_cols, cols_to_consider, threshold_lvl=1)
df_Ser_finished

# Special

## Forestry

In [ ]:
df_Forestry = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["A"])]
df_Forestry = df_Forestry[df_Forestry["i_Ziffer"].isin([4])]

In [ ]:
# Load data
Forestry_rb = pd.read_excel(f"{classification_path}\\Forestry.xlsx")

# Calculate the percentages

# for a1
Forestry_rb["a"] = Forestry_rb["a"].astype(float)
Forestry_rb["Summe"] = Forestry_rb["Summe"].astype(float)
Forestry_rb["a_per"] = Forestry_rb["a"] / Forestry_rb["Summe"]

# for b
Forestry_rb["b"] = Forestry_rb["b"].astype(float)
Forestry_rb["Summe"] = Forestry_rb["Summe"].astype(float)
Forestry_rb["b_per"] = Forestry_rb["b"] / Forestry_rb["Summe"]

# for c
Forestry_rb["c"] = Forestry_rb["c"].astype(float)
Forestry_rb["Summe"] = Forestry_rb["Summe"].astype(float)
Forestry_rb["c_per"] = Forestry_rb["c"] / Forestry_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Forestry["rb_id"] = df_Forestry["rb_id"].astype(str)
Forestry_rb["id"] = Forestry_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Forestry["rb_id"] = df_Forestry["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Forestry = pd.merge(df_Forestry, Forestry_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Forestry["a_per"] = df_Forestry["a_per"].astype(float)
df_Forestry["b_per"] = df_Forestry["b_per"].astype(float)
df_Forestry["c_per"] = df_Forestry["c_per"].astype(float)
df_Forestry["d_Hauptberuf"] = df_Forestry["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns
df_Forestry["high"] = ""
# a and b are medium skilled (HISCO: 63220)
df_Forestry["medium"] = df_Forestry["d_Hauptberuf"] * (df_Forestry["a_per"] + df_Forestry["b_per"])
df_Forestry["low"] = df_Forestry["d_Hauptberuf"] * df_Forestry["c_per"]
df_Forestry["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Forestry = df_Forestry[column_order]
df_Forestry

## Post and Telegram

In [ ]:
df_Post = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["C"])]
df_Post = df_Post[df_Post["i_Ziffer"].isin([12])]

In [ ]:
# Load data
Post_rb = pd.read_excel(f"{classification_path}\\Post_and_Telegram.xlsx")

# Calculate the percentages

# For a1
Post_rb["a"] = Post_rb["a"].astype(float)
Post_rb["Summe"] = Post_rb["Summe"].astype(float)
Post_rb["a_per"] = Post_rb["a"] / Post_rb["Summe"]

# For b
Post_rb["b"] = Post_rb["b"].astype(float)
Post_rb["Summe"] = Post_rb["Summe"].astype(float)
Post_rb["b_per"] = Post_rb["b"] / Post_rb["Summe"]

# For c
Post_rb["c"] = Post_rb["c"].astype(float)
Post_rb["Summe"] = Post_rb["Summe"].astype(float)
Post_rb["c_per"] = Post_rb["c"] / Post_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Post["rb_id"] = df_Post["rb_id"].astype(str)
Post_rb["id"] = Post_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Post["rb_id"] = df_Post["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Post = pd.merge(df_Post, Post_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Post["a_per"] = df_Post["a_per"].astype(float)
df_Post["b_per"] = df_Post["b_per"].astype(float)
df_Post["c_per"] = df_Post["c_per"].astype(float)
df_Post["d_Hauptberuf"] = df_Post["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 21110)
df_Post["high"] = df_Post["d_Hauptberuf"] * df_Post["a_per"]
df_Post["medium"] = ""

# b and are low skilled (HISCO: 39310 and 37000)
df_Post["low"] = df_Post["d_Hauptberuf"] * (df_Post["b_per"] + df_Post["c_per"])
df_Post["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Post = df_Post[column_order]
df_Post

## Railroad

In [ ]:
df_Rail = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["C"])]
df_Rail = df_Rail[df_Rail["i_Ziffer"].isin([13])]

In [ ]:
# Load data
Rail_rb = pd.read_excel(f"{classification_path}\\Railroad.xlsx")

# Calculate the percentages

# For a1
Rail_rb["a"] = Rail_rb["a"].astype(float)
Rail_rb["Summe"] = Rail_rb["Summe"].astype(float)
Rail_rb["a_per"] = Rail_rb["a"] / Rail_rb["Summe"]

# For b
Rail_rb["b"] = Rail_rb["b"].astype(float)
Rail_rb["Summe"] = Rail_rb["Summe"].astype(float)
Rail_rb["b_per"] = Rail_rb["b"] / Rail_rb["Summe"]

# For c
Rail_rb["c"] = Rail_rb["c"].astype(float)
Rail_rb["Summe"] = Rail_rb["Summe"].astype(float)
Rail_rb["c_per"] = Rail_rb["c"] / Rail_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Rail["rb_id"] = df_Rail["rb_id"].astype(str)
Rail_rb["id"] = Rail_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Rail["rb_id"] = df_Rail["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Rail = pd.merge(df_Rail, Rail_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Rail["a_per"] = df_Rail["a_per"].astype(float)
df_Rail["b_per"] = df_Rail["b_per"].astype(float)
df_Rail["c_per"] = df_Rail["c_per"].astype(float)
df_Rail["d_Hauptberuf"] = df_Rail["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 21110)
df_Rail["high"] = df_Rail["d_Hauptberuf"] * df_Rail["a_per"]
df_Rail["medium"] = ""

# b and c are low skilled (HISCO: 39310, 36020)
df_Rail["low"] = df_Rail["d_Hauptberuf"] * (df_Rail["b_per"] + df_Rail["c_per"])
df_Rail["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Rail = df_Rail[column_order]
df_Rail

## Army

In [ ]:
df_Army = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Army = df_Army[df_Army["i_Ziffer"].isin([1])]

In [ ]:
# Load data
Army_rb = pd.read_excel(f"{classification_path}\\Military.xlsx")

# Calculate the percentages

# For a1
Army_rb["a"] = Army_rb["a"].astype(float)
Army_rb["Summe"] = Army_rb["Summe"].astype(float)
Army_rb["a_per"] = Army_rb["a"] / Army_rb["Summe"]

# For b
Army_rb["b"] = Army_rb["b"].astype(float)
Army_rb["Summe"] = Army_rb["Summe"].astype(float)
Army_rb["b_per"] = Army_rb["b"] / Army_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Army["rb_id"] = df_Army["rb_id"].astype(str)
Army_rb["id"] = Army_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Army["rb_id"] = df_Army["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Army = pd.merge(df_Army, Army_rb[["id", "a_per", "b_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Army["a_per"] = df_Army["a_per"].astype(float)
df_Army["b_per"] = df_Army["b_per"].astype(float)
df_Army["d_Hauptberuf"] = df_Army["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 58320)
df_Army["high"] = df_Army["d_Hauptberuf"] * df_Army["a_per"]
df_Army["medium"] = ""
# b is low skilled (HISCO: 58340)
df_Army["low"] = df_Army["d_Hauptberuf"] * df_Army["b_per"]
df_Army["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Army = df_Army[column_order]
df_Army

## Government

In [ ]:
df_Gov = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Gov = df_Gov[df_Gov["i_Ziffer"].isin([2])]

In [ ]:
# Load data
Gov_rb = pd.read_excel(f"{classification_path}\\State.xlsx")

# Calculate the percentages

# For a1
Gov_rb["a"] = Gov_rb["a"].astype(float)
Gov_rb["Summe"] = Gov_rb["Summe"].astype(float)
Gov_rb["a_per"] = Gov_rb["a"] / Gov_rb["Summe"]

# For b
Gov_rb["b"] = Gov_rb["b"].astype(float)
Gov_rb["Summe"] = Gov_rb["Summe"].astype(float)
Gov_rb["b_per"] = Gov_rb["b"] / Gov_rb["Summe"]

# For c
Gov_rb["c"] = Gov_rb["c"].astype(float)
Gov_rb["Summe"] = Gov_rb["Summe"].astype(float)
Gov_rb["c_per"] = Gov_rb["c"] / Gov_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Gov["rb_id"] = df_Gov["rb_id"].astype(str)
Gov_rb["id"] = Gov_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Gov["rb_id"] = df_Gov["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Gov = pd.merge(df_Gov, Gov_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Gov["a_per"] = df_Gov["a_per"].astype(float)
df_Gov["b_per"] = df_Gov["b_per"].astype(float)
df_Gov["c_per"] = df_Gov["c_per"].astype(float)
df_Gov["d_Hauptberuf"] = df_Gov["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 20210)
df_Gov["high"] = df_Gov["d_Hauptberuf"] * df_Gov["a_per"]
df_Gov["medium"] = ""

# b and c are low skilled (HISCO: 39310, 59990)
df_Gov["low"] = df_Gov["d_Hauptberuf"] * (df_Gov["b_per"] + df_Gov["c_per"])
df_Gov["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Gov = df_Gov[column_order]
df_Gov

## Church

In [ ]:
df_Church = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Church = df_Church[df_Church["i_Ziffer"].isin([3])]

In [ ]:
# Load data
Church_rb = pd.read_excel(f"{classification_path}\\Church.xlsx")

# Calculate the percentages

# For a1
Church_rb["a"] = Church_rb["a"].astype(float)
Church_rb["Summe"] = Church_rb["Summe"].astype(float)
Church_rb["a_per"] = Church_rb["a"] / Church_rb["Summe"]

# For b
Church_rb["b"] = Church_rb["b"].astype(float)
Church_rb["Summe"] = Church_rb["Summe"].astype(float)
Church_rb["b_per"] = Church_rb["b"] / Church_rb["Summe"]

# For c
Church_rb["c"] = Church_rb["c"].astype(float)
Church_rb["Summe"] = Church_rb["Summe"].astype(float)
Church_rb["c_per"] = Church_rb["c"] / Church_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Church["rb_id"] = df_Church["rb_id"].astype(str)
Church_rb["id"] = Church_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Church["rb_id"] = df_Church["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Church = pd.merge(df_Church, Church_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Church["a_per"] = df_Church["a_per"].astype(float)
df_Church["b_per"] = df_Church["b_per"].astype(float)
df_Church["c_per"] = df_Church["c_per"].astype(float)
df_Church["d_Hauptberuf"] = df_Church["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns
df_Church["high"] = ""
# a and b are medium skilled (HISCO: 14130, 14140)
df_Church["medium"] = df_Church["d_Hauptberuf"] * (df_Church["a_per"] + df_Church["b_per"])
# c is low skilled (HISCO: 55140)
df_Church["low"] = df_Church["d_Hauptberuf"] * df_Church["c_per"]
df_Church["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Church = df_Church[column_order]
df_Church

## Education

In [ ]:
df_Education = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Education = df_Education[df_Education["i_Ziffer"].isin([4])]

In [ ]:
# Load data
Education_rb = pd.read_excel(f"{classification_path}\\Teachers_by_Provinces.xlsx")

# Calculate the percentages

# For a1
Education_rb["a1"] = Education_rb["a1"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["a1_per"] = Education_rb["a1"] / Education_rb["Summe"]

# For a2
Education_rb["a2"] = Education_rb["a2"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["a2_per"] = Education_rb["a2"] / Education_rb["Summe"]

# For b
Education_rb["b"] = Education_rb["b"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["b_per"] = Education_rb["b"] / Education_rb["Summe"]

# For c
Education_rb["c"] = Education_rb["c"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["c_per"] = Education_rb["c"] / Education_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Education["rb_id"] = df_Education["rb_id"].astype(str)
Education_rb["id"] = Education_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Education["rb_id"] = df_Education["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Education = pd.merge(df_Education, Education_rb[["id", "a1_per", "a2_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Education["a1_per"] = df_Education["a1_per"].astype(float)
df_Education["a2_per"] = df_Education["a2_per"].astype(float)
df_Education["b_per"] = df_Education["b_per"].astype(float)
df_Education["c_per"] = df_Education["c_per"].astype(float)
df_Education["d_Hauptberuf"] = df_Education["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# highly skilled teachers (HISCO: )
df_Education["high"] = df_Education["d_Hauptberuf"] * df_Education["a1_per"]
# medium skilled teachers (HISCO: 63220)
df_Education["medium"] = df_Education["d_Hauptberuf"] * df_Education["a2_per"]
# b and c are medium skilled
df_Education["low"] = df_Education["d_Hauptberuf"] * (df_Education["b_per"] + df_Education["c_per"])
df_Education["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Education = df_Education[column_order]
df_Education

## Health

In [ ]:
df_Health = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Health = df_Health[df_Health["i_Ziffer"].isin([5])]

In [ ]:
# Load data
Health_rb = pd.read_excel(f"{classification_path}\\Health.xlsx")
# Calculate the percentages

# For a1
Health_rb["a1"] = Health_rb["a1"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["a1_per"] = Health_rb["a1"] / Health_rb["Summe"]

# For a2
Health_rb["a2"] = Health_rb["a2"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["a2_per"] = Health_rb["a2"] / Health_rb["Summe"]

# For b
Health_rb["b"] = Health_rb["b"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["b_per"] = Health_rb["b"] / Health_rb["Summe"]

# For c
Health_rb["c"] = Health_rb["c"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["c_per"] = Health_rb["c"] / Health_rb["Summe"]

# For d
Health_rb["d"] = Health_rb["d"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["d_per"] = Health_rb["d"] / Health_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Health["rb_id"] = df_Health["rb_id"].astype(str)
Health_rb["id"] = Health_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Health["rb_id"] = df_Health["rb_id"].str.replace('.0', '', regex=False)

# Perform the merge 
df_Health = pd.merge(df_Health, Health_rb[["id", "a1_per", "a2_per", "b_per", "c_per", "d_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Health["a1_per"] = df_Health["a1_per"].astype(float)
df_Health["a2_per"] = df_Health["a2_per"].astype(float)
df_Health["b_per"] = df_Health["b_per"].astype(float)
df_Health["c_per"] = df_Health["c_per"].astype(float)
df_Health["d_per"] = df_Health["d_per"].astype(float)
df_Health["d_Hauptberuf"] = df_Health["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# highly skilled doctors in a1 (HISCO: 06100)
df_Health["high"] = df_Health["d_Hauptberuf"] * df_Health["a1_per"]
# a2 are medium skilled (HISCO: 07310)
df_Health["medium"] = df_Health["d_Hauptberuf"] * df_Health["a2_per"] 
# b, c and d are low (HISCO: 39310, 58240, 59990)
df_Health["low"] = df_Health["d_Hauptberuf"] * (df_Health["b_per"] + df_Health["c_per"] + df_Health["d_per"])
df_Health["unskilled"] = ''

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Health = df_Health[column_order]
df_Health

## Arts

In [ ]:
df_Arts = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Arts = df_Arts[df_Arts["i_Ziffer"].isin([8])]

In [ ]:
# Load data
Arts_rb = pd.read_excel(f"{classification_path}\\Performing_Arts.xlsx")
# Calculate the percentages

# For a1
Arts_rb["a"] = Arts_rb["a"].astype(float)
Arts_rb["Summe"] = Arts_rb["Summe"].astype(float)
Arts_rb["a_per"] = Arts_rb["a"] / Arts_rb["Summe"]

# For b
Arts_rb["b"] = Arts_rb["b"].astype(float)
Arts_rb["Summe"] = Arts_rb["Summe"].astype(float)
Arts_rb["b_per"] = Arts_rb["b"] / Arts_rb["Summe"]

# For c
Arts_rb["c"] = Arts_rb["c"].astype(float)
Arts_rb["Summe"] = Arts_rb["Summe"].astype(float)
Arts_rb["c_per"] = Arts_rb["c"] / Arts_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Arts["rb_id"] = df_Arts["rb_id"].astype(str)
Arts_rb["id"] = Arts_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Arts["rb_id"] = df_Arts["rb_id"].str.replace('.0', '', regex=False)

# Perform the merge
df_Arts = pd.merge(df_Arts, Arts_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Arts["a_per"] = df_Arts["a_per"].astype(float)
df_Arts["b_per"] = df_Arts["b_per"].astype(float)
df_Arts["c_per"] = df_Arts["c_per"].astype(float)
df_Arts["d_Hauptberuf"] = df_Arts["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns
df_Arts["high"] = ""
# a and b are medium skilled (HISCO: 63220)
df_Arts["medium"] = df_Arts["d_Hauptberuf"] * (df_Arts["a_per"]+ df_Arts["b_per"])
df_Arts["low"] = df_Arts["d_Hauptberuf"] * df_Arts["c_per"]
df_Arts["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Arts = df_Arts[column_order]
df_Arts

## Merge them all

In [ ]:
df_Son = pd.concat([df_Forestry, df_Rail, df_Post, df_Army, df_Education, df_Health, df_Arts, df_Church, df_Gov], ignore_index=True)
df_Son

# Merge all data

In [ ]:
def checker(df):
    # Convert columns to float, replacing empty strings with NaN
    for column in ["high", "medium", "low", "unskilled"]:
        df[column] = pd.to_numeric(df[column], errors="coerce")

    # Summing the columns
    a = df["high"].sum()
    b = df["medium"].sum()
    c = df["low"].sum()
    d = df["unskilled"].sum()
    summe = df["d_Hauptberuf"].sum()
    other = a + b + c + d
    diff = summe - other

    print(f"d_Hauptberuf: {summe}, Added skills: {other}, Diff:{diff}")

Marginal differences due to float64

In [ ]:
checker(df_Ind)
checker(df_A_Rest)
checker(df_A_1)
checker(df_Son)
checker(df_Ser)

In [ ]:
df_total = pd.concat([df_Son, df_Ser, df_Ind, df_A_Rest, df_A_1], ignore_index=True)

# Convert columns to numeric types
df_total["high"] = pd.to_numeric(df_total["high"], errors="coerce")
df_total["medium"] = pd.to_numeric(df_total["medium"], errors="coerce")
df_total["low"] = pd.to_numeric(df_total["low"], errors="coerce")
df_total["unskilled"] = pd.to_numeric(df_total["unskilled"], errors="coerce")
df_total["d_Hauptberuf"] = pd.to_numeric(df_total["d_Hauptberuf"], errors="coerce")

# Temporarily replace 0 with NaN in 'd_Hauptberuf' column of df_total
df_total["d_Hauptberuf"].replace(0, np.nan, inplace=True)

# Perform the division to create the new columns in df_total
df_total["per_high"] = df_total["high"] / df_total["d_Hauptberuf"]
df_total["per_medium"] = df_total["medium"] / df_total["d_Hauptberuf"]
df_total["per_low"] = df_total["low"] / df_total["d_Hauptberuf"]
df_total["per_unskilled"] = df_total["unskilled"] / df_total["d_Hauptberuf"]

# Revert NaN back to 0 in 'd_Hauptberuf' of df_total if needed
df_total["d_Hauptberuf"].replace(np.nan, 0, inplace=True)

# Replace NaN in new columns with 0 in df_total
df_total[["per_high", "per_medium", "per_low", "per_unskilled"]] = df_total[["per_high", "per_medium", "per_low", "per_unskilled"]].fillna(0)

df_total

In [ ]:
df_total.to_csv(f"{saving_path}\Total_Dep_Diff_Skills.csv", index=False, sep=",")

In [ ]:
for col in ["d_Hauptberuf", "high", "medium", "low", "unskilled"]:
    df_total[col] = pd.to_numeric(df_total[col], errors="coerce")

grouped_df = df_total.groupby("id_inequality")[["d_Hauptberuf", "high", "medium", "low", "unskilled"]].sum().reset_index()

In [ ]:
filtered_df = df_total[df_total["i_Grossbuchstabe"] == "B"]
grouped_filtered_df = filtered_df.groupby("id_inequality")["d_Hauptberuf"].sum().reset_index()
grouped_filtered_df.rename(columns={"d_Hauptberuf": "Industriearbeiter"}, inplace=True)

In [ ]:
final_df = pd.merge(grouped_df, grouped_filtered_df, on="id_inequality", how="left")

In [ ]:
final_df["Anteil_Industriearbeiter"] = final_df["Industriearbeiter"] / final_df["d_Hauptberuf"]
final_df["per_high"] = final_df["high"] / final_df["d_Hauptberuf"]
final_df["per_medium"] = final_df["medium"] / final_df["d_Hauptberuf"]
final_df["per_low"] = final_df["low"] / final_df["d_Hauptberuf"]
final_df["per_unskilled"] = final_df["unskilled"] / final_df["d_Hauptberuf"]
final_df

In [ ]:
# save final_df on local machine
final_df.to_csv(f"{saving_path}\Main_Dep_Diff_Skills.csv", index=False, sep=",")